<app-title [titulo]="'Eventos'" [iconClass]="'fa fa-calendar-alt'" [mostraBotao]="true"></app-title>
<hr>

<div class="card rounded shadow-sm">
  <div class="d-flex">
    <div class="flex-fill" style="padding-right: 10px;">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
        <div class="input-group-text">Filtro : </div>
        </div>
        <input
        type="text"
        class="form-control"
        placeholder="Filtrar por tema e local"
        [(ngModel)]="filterList"
        >
      </div>
    </div>
    <div>
      <a href="#" class="d-flex btn btn-outline-primary">
        <i class="fa fa-plus-circle my-1"></i>
        <b class="ms-1 d-none d-sm-block">Novo</b>
      </a>
    </div>

  </div>
  <table class="table table-striped ">
    <thead class="table-dark">
      <tr>
        <th>
          <button class="btn btn-outline-light btn-sm"  (click)="isCollapsed = !isCollapsed" >
            <i class="{{isCollapsed ? 'fa fa-eye' : 'fa fa-eye-slash'}}"></i>
            {{isCollapsed ? 'Mostrar' : 'Ocultar'}}
          </button>
        </th>
        <th>#</th>
        <th>Tema</th>
        <th>Local</th>
        <th>Data</th>
        <th>Qtd Pessoas</th>
        <th>Lote</th>
        <th>Opções</th>
      </tr>
    </thead>
    <tbody *ngIf="eventos && eventos.length">
      <tr *ngFor="let evento of eventosFilters">
        <td>
          <img [collapse]="isCollapsed" [isAnimated]="true" src="assets/{{evento.imageURL}}"
          [style.width.px]="70"
          [style.margin.px]="marginImg"
          >
        </td>

        <td>{{evento.id}}</td>
        <td>{{evento.tema}}</td>
        <td>{{evento.local}}</td>
        <td>{{evento.dataEvento | date: 'dd/MM/yyyy hh:mm'}}</td>
        <td>{{evento.qtdPessoas}}</td>
        <td>{{evento.lotes[0].nome}}</td>
        <td>
          <button type="button" class="btn btn-primary btn-sm me-2" tooltip="Editar">
            <i class="fa fa-edit"></i>
            Editar
          </button>
          <button type="button" class="btn btn-danger btn-sm" tooltip="Excluir" (click)="openModalDelete(template)">
            <i class="fa fa-trash"></i>
            Excluir
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="!eventos.length">
      <tr>
        <td colspan="8" class="text-center">
          <h4>Nenhum Evento Encontrado</h4>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<!-- Eventos | Modal -->

<ng-template #template>
  <div class="modal-body text-center">
    <p>Tem certeza que deseja excluir o evento?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>
