<h2>Eventos</h2>
<hr>

<div class="form-inline">
  <label class="mr-2">Filtro</label>
  <div class="form-group mb-2" style="display:flex">
    <input
    type="text"
    class="form-control mr-2"
    style="width: 15%; margin-right: 10px;"
    placeholder="Buscar"
    [(ngModel)]="filterList"
    >
  </div>
</div>
<table class="table table-striped ">
  <thead class="table-dark">
    <tr>
      <th>
        <button class="btn btn-outline-light btn-sm"  (click)="isCollapsed = !isCollapsed" >
          <i class="{{isCollapsed ? 'fa fa-eye' : 'fa fa-eye-slash'}}"></i>
          {{isCollapsed ? 'Mostrar' : 'Ocultar'}}
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFilters">
      <td>
        <img [collapse]="isCollapsed" [isAnimated]="true" src="assets/{{evento.imageURL}}"
            [style.width.px]="70"
            [style.margin.px]="marginImg"
        >
      </td>

      <td>{{evento.id}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento | date: 'dd/MM/yyyy hh:mm'}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>{{evento.lotes[0].nome}}</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm me-2" tooltip="Editar">
          <i class="fa fa-edit"></i>
          Editar
        </button>
        <button type="button" class="btn btn-danger btn-sm" tooltip="Excluir" (click)="openModalDelete(template)">
          <i class="fa fa-trash"></i>
          Excluir
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum Evento Encontrado</h4>
      </td>
    </tr>
  </tfoot>
</table>

<!-- Eventos | Modal -->

<ng-template #template>
  <div class="modal-body text-center">
    <p>Tem certeza que deseja excluir o evento?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>
